<div class="container-fluid">
    <h3 style="text-align: center;">Chart of Accounts</h3><br>
  <table class="table table-borderless; " >
    <tr style="background-color: #bbb6b6;">
      <th>#</th>
      <th>Office Id</th>
      <!-- <th *ngIf="userRole=='admin'">Password</th> -->
      <th>Amount</th>
      <th>Remark</th>
      <th>Office Type</th>
      <th>Date</th>
      <th>voucherDetails</th>

      <!-- <th >Action</th> -->
    </tr>
    <tr *ngFor="let user of userList;let i=index; trackBy:track">
      <td>{{ i+1 }}</td>
      <td>{{ user.officeId }}</td>
      <!-- <td *ngIf="userRole=='admin'">{{ user.password }}</td> -->
      <td>{{ user.amount }}</td>
      <td>{{ user.remark }}</td>
      <td>{{ user.officeType }}</td>
      <td>{{ user.date }}</td>
      <!-- <td>{{ user.voucherDetails }}</td> -->
      <!-- <td>{{ user.paddress }}</td>
      <td>{{ user.caddress }}</td> -->
      
  
      <!-- <td>
        <a type="button" [routerLink]="['/add',user.id]" class="btn btn-success">Edit</a> 
        
        &nbsp;
  
         <button type="button" class="btn btn-danger" (click)="delete(user.id)">Delete</button>
         &nbsp;
  
         <button type="button" [routerLink]="['/profile',user.id]" class="btn btn-primary">View</button>
  
  
      </td> -->
    </tr>
  </table>

